.boardMain {
  position: absolute;
  height: 595px;
  width: 750px;
  text-align: center;
  border-radius: 15px;
  background-color: black;
  color: #fff;
  font-size: 20px;
  z-index: 3;
  overflow: hidden;
}

.boardTitles {
  display: flex;
  justify-content: space-evenly;
}

.h2Titles {
  margin-right: 130px;
  margin-left: 10px;
}

.listBlock {
  display: flex;
  justify-content: space-evenly;
}

.playerLists1 {
  width: 15%;
  height: 40px;
}

.playerLists {
  width: 35%;
  height: 40px;
}
